body {
  margin: 0 auto;
  background: linear-gradient(to top left, powderblue, pink);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



*{
  box-sizing:border-box;
}




.Button{
  position:absolute;
  width:3px;
  background:#000;
  
}

.toggleButton{
  height:30px;
  top:120px;
  left:-3px;
}

.volumeButtonUp{
  height:50px;
  top:180px;
  left:-3px;
}

.volumeButtonDown{
  height:50px;
  top:240px;
  left:-3px;
}

.powerButton{
  right:-3px;
  top:160px;
  height:70px;
}

